examples/example-flow.json
[
    {
        "id": "99d3d0e1ef345967",
        "type": "inject",
        "z": "37b545fda4782ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "2595eb31312369b0"
            ]
        ]
    },
    {
        "id": "d48e8a1d5ff905b1",
        "type": "inject",
        "z": "37b545fda4782ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "2595eb31312369b0"
            ]
        ]
    },
    {
        "id": "e9132ad6e0cd5cdc",
        "type": "inject",
        "z": "37b545fda4782ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "2595eb31312369b0"
            ]
        ]
    },
    {
        "id": "14a39c631d5e427f",
        "type": "debug",
        "z": "37b545fda4782ea4",
        "name": "Реле",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "d4958ecce15b9252",
        "type": "debug",
        "z": "37b545fda4782ea4",
        "name": "Открыть",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "94c5688f96a73600",
        "type": "debug",
        "z": "37b545fda4782ea4",
        "name": "Закрыть",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 440,
        "wires": []
    },
    {
        "id": "2595eb31312369b0",
        "type": "ST-Regulator",
        "z": "37b545fda4782ea4",
        "name": "Thermostat 1",
        "title": "Теплый пол на кухне",
        "regultype": "thermostat",
        "strategy": "heating",
        "min": "15",
        "max": "30",
        "target": "20",
        "hysteresis": "0.5",
        "invertrelay": false,
        "locale": "ru-RU",
        "channel": null,
        "wbserver": "f6f2cb4d65ec8eef",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "14a39c631d5e427f"
            ]
        ]
    },
    {
        "id": "b50bc6222fe07679",
        "type": "ST-Curtain",
        "z": "37b545fda4782ea4",
        "name": "Curtain 1",
        "title": "Штора в гостиной",
        "locale": "ru-RU",
        "wbserver": "f6f2cb4d65ec8eef",
        "x": 660,
        "y": 400,
        "wires": [
            [
                "d4958ecce15b9252"
            ],
            [
                "94c5688f96a73600"
            ]
        ]
    },
    {
        "id": "6c93affd6ce8be31",
        "type": "ST-MqttIn",
        "z": "37b545fda4782ea4",
        "device": "wb-mr6c_1",
        "control": "K1",
        "locale": "ru-RU",
        "wbserver": "f6f2cb4d65ec8eef",
        "startsend": true,
        "filter": true,
        "x": 500,
        "y": 560,
        "wires": [
            [
                "36e71cf5281ba853"
            ]
        ]
    },
    {
        "id": "36e71cf5281ba853",
        "type": "debug",
        "z": "37b545fda4782ea4",
        "name": "Сообщение",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "1c904fde6fd99f30",
        "type": "ST-MqttOut",
        "z": "37b545fda4782ea4",
        "device": "wb-mr6c_1",
        "control": "K1",
        "command": "on",
        "locale": "ru-RU",
        "wbserver": "f6f2cb4d65ec8eef",
        "x": 730,
        "y": 700,
        "wires": []
    },
    {
        "id": "65ccb2ad01dc42f7",
        "type": "inject",
        "z": "37b545fda4782ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 450,
        "y": 680,
        "wires": [
            [
                "1c904fde6fd99f30"
            ]
        ]
    },
    {
        "id": "8d8182a520bfce4e",
        "type": "inject",
        "z": "37b545fda4782ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 450,
        "y": 720,
        "wires": [
            [
                "1c904fde6fd99f30"
            ]
        ]
    },
    {
        "id": "f6f2cb4d65ec8eef",
        "type": "WB-MQTT-Server",
        "name": "Localhost",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": ""
    }
]